*{
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "titles";
  src: url(./Fonts/Rowdies/Rowdies-Bold.ttf);
}

:root{
  --purple: #6D1A77;
  --purp2: #C471CD;
  --black: rgb(12, 12, 12);
}

.loginCard{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
  background-color: red;
  
}